.form {
  width: 320px;
  margin: 0 auto;
  background-color: #f8f5f2;
  color: #000000;
}

.form__wrapper {
  width: 280px;
  margin: 0 auto;
}

.form__title {
  margin: 0;
  padding: 30px 0;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form__button-main-page {
  display: none;
}

.appointement-form p {
  margin: 0;
  margin-bottom: 5px;
}

.appointement-form input[type="text"] {
  box-sizing: border-box;
  width: 280px;
  padding: 14px;
  padding-left: 17px;
  font: inherit;
  color: #464646;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid #dac6b2;
}

.appointement-form input::placeholder,
.appointement-form textarea::placeholder {
  font: inherit;
  color: #545352;
}

.appointement-form input[class="phone"] {
  margin-top: 30px;
}

.appointement-form textarea {
  box-sizing: border-box;
  width: 280px;
  padding: 14px;
  padding-left: 17px;
  font: inherit;
  color: #464646;
  font-size: 18px;
  line-height: 20px;
  resize: none;
  border: 1px solid #dac6b2;
  margin-top: 26px;
}

.form__title-beard-type {
  margin-top: 30px;
}

.appointement-form h3 {
  font-size: 20px;
  line-height: 27px;
  text-transform: uppercase;
  font-weight: normal;
  color: #545352;
  text-align: center;
}

.form__beard-type-item {
  display: flex;
  flex-direction: column;
  width: 65px;
  padding: 14px;
  padding-top: 18px;
  justify-content: space-around;
  align-items: center;
}

.radio-indicator {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid rgba(213 201 189 / 0.7);
  border-radius: 30px;
  cursor: pointer;
}

.radio-indicator:hover {
  border-color: rgba(130 101 80 / 0.4);
}
.radio-indicator:active {
  background-color: #d5c9bd;
}

input[type="radio"]:checked + .radio-indicator::after {
  content: "";
  display: block;
  position: relative;
  top: 15px;
  left: 15px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(213 201 189 / 0.7);
  border-radius: 30px;
}

input[type="radio"]:focus + .radio-indicator::after {
  box-shadow: 0 0 4px 4px #826550;
}

.form__beard-type-item input[type="radio"],
.form__additions input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__beard-type-item img {
  margin-bottom: auto;
}

.form__beards-list {
  display: flex;
  flex-wrap: wrap;
}

.form__beards-text {
  padding-top: 10px;
  padding-bottom: 5px;
}

.form__additions {
  display: flex;
  flex-direction: column;
}

.form__title-additions {
  margin: 33px 0;
}

.checkbox-indicator {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 25px;
  background-color: white;
  border: 1px solid rgba(213, 201, 189, 0.7);
}

input[type="checkbox"]:hover + .checkbox-indicator {
  border-color: rgba(130, 101, 80, 0.4);
  cursor: pointer;
}

input[type="checkbox"]:focus + .checkbox-indicator {
  box-shadow: 0 0 4px 4px #826550;
}

.checkbox-indicator:active {
  background-color: #d5c9bd;
}

.checkbox-indicator::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  position: relative;
  top: 18px;
  left: 10px;
  background-color: black;
}

.checkbox-indicator::before {
  transform: rotate(-45deg);
}

.checkbox-indicator::after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  position: relative;
  top: 21px;
  left: 5px;
  background-color: black;
}

.checkbox-indicator::after {
  transform: rotate(45deg);
}

input[type="checkbox"]:not(:checked) + .checkbox-indicator::before,
input[type="checkbox"]:not(:checked) + .checkbox-indicator::after {
  display: none;
}

.additions-item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form__submit-button {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 35px;
}

.form::after {
  content: "";
  display: block;
  width: 320px;
  height: 35px;
  background: url("/source/img/svg/angle2.svg") center no-repeat;
}

@media (min-width: $tablet-width) {
  .form {
    width: 768px;
    padding-bottom: 175px;
  }
  .form:after {
    display: none;
  }

  .form__wrapper {
    width: 640px;
  }
  .form__button-main-page {
    display: inherit;
    float: right;
    margin-top: 56px;
  }

  .form__title {
    display: inline-block;
    font-size: 40px;
    line-height: 40px;
    margin: 28px 0;
  }

  .appointement-form {
    display: flex;
    flex-wrap: wrap;
  }

  .appointement-form input[type="text"] {
    width: 213px;
    height: 70px;
    margin-top: 16px;
    font-size: 24px;
    line-height: 30px;
    padding-left: 25px;
  }

  .appointement-form p:nth-child(2) {
    order: -2;
  }

  .appointement-form p:nth-child(1) {
    order: -1;
  }

  .appointement-form input[class="family-name"] {
    border-left: none;
    border-right: none;
  }

  .appointement-form input[class="form__phone"],
  .appointement-form input[class="form__e-mail"] {
    width: 640px;
    margin-top: 31px;
  }

  .appointement-form textarea {
    width: 640px;
    height: 210px;
    font-size: 24px;
    line-height: 30px;
    padding-left: 25px;
    padding-top: 21px;
  }

  .appointement-form .form__title-beard-type,
  .appointement-form .form__title-additions {
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
  }

  .appointement-form .form__title-additions {
    margin-top: 40px;
    margin-bottom: 68px;
  }

  .form__beards-list {
    width: 640px;
    justify-content: space-between;
  }

  .form__beards-text {
    font-size: 24px;
    line-height: 24px;
    margin-top: 18px;
    margin-bottom: 26px;
  }

  .form__additions {
    width: 640px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__additions .additions-item {
    width: 320px;
    box-sizing: border-box;
    margin-bottom: 45px;
  }
  .additions-item .additions-text {
    font-size: 24px;
    line-height: 30px;
  }

  .form__submit-button {
    width: 100%;
    height: 70px;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 1200px;
  }
  .form__wrapper {
    width: 960px;
  }
  .appointement-form input[class="family-name"] {
    border: 1px solid #dac6b2;
  }
  .appointement-form input[type="text"] {
    width: 295px;
    margin-right: 37px;
  }
  .appointement-form input[class="middle-name"] {
    width: 295px;
    margin-right: 0;
  }
  .appointement-form input[class="form__phone"],
  .appointement-form input[class="form__e-mail"] {
    width: 462px;
    margin-right: 35px;
  }
  .appointement-form input[class="form__e-mail"] {
    margin-right: 0;
  }
  .appointement-form textarea {
    width: 960px;
    margin-top: 30px;
  }
  .form__beards-list {
    width: 960px;
    justify-content: space-around;
  }
  .appointement-form .form__title-beard-type {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .appointement-form .form__title-additions {
    margin-top: 40px;
  }
  .form__additions {
    width: 960px;
  }
  .form__submit-button {
    margin-top: 28px;
    margin-bottom: 40px;
  }
}
