.pricelist {
  width: 320px;
  margin: 0 auto;
  background-color: #353535;
  color: white;
}

.pricelist::after {
  content: "";
  display: block;
  width: 320px;
  height: 35px;
  background: url("../img/svg/connector4.svg") center no-repeat;
}
.pricelist__wrapper {
  margin-bottom: 35px;
}

.pricelist__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 35px 0;
  padding-bottom: 25px;
}

.pricelist__table {
  display: none;
}
.pricelist__list {
  list-style: none;
  padding: 0;
  width: 280px;
  margin: 0 auto;
}

.pricelist__item {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.pricelist__name--mobile {
  margin: 0;
}
.pricelist__item p {
  margin: 0;
}

.pricelist__discount {
  width: 280px;
  height: 90px;
  border: 1px solid #4e4d4d;
  margin: 0 auto;
  display: flex;
}
.pricelist__discount-text {
  padding: 20px 15px;
  margin: 0;
  font-size: 20px;
  line-height: 27px;
}
.pricelist__clock {
  float: left;
  padding: 15px 20px;
}


@media (min-width: $tablet-width) {
  .pricelist__wrapper {
    padding-bottom: 135px;
  }

  .pricelist__table {
    display: inherit;
  }

  .pricelist__title {
    text-align: left;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 45px;
  }

  .pricelist__list {
    display: none;
  }
  .pricelist {
    width: 768px;
  }
  .pricelist__wrapper {
    width: 640px;
    margin: 0 auto;
  }

  .pricelist__table {
    border-collapse: collapse;
    width: 100%;
  }

  .pricelist__table td {
    border: 1px solid #4e4d4d;
    padding: 14px;
    padding-left: 20px;
  }

  tr .pricelist__table-number {
    padding-left: 28px;
    padding-right: 28px;
    color: rgba(255, 255, 255, 0.3);
  }

  .pricelist__table-name {
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    width: 230px;
  }

  .pricelist__table-wash {
    font-size: 20px;
    line-height: 27px;
    width: 140px;
  }

  .pricelist__table-price {
    font-size: 20px;
    line-height: 27px;
    width: 125px;
  }

  .pricelist__discount {
    width: 640px;
    height: 115px;
    border: 1px solid #4e4d4d;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
  }

  .pricelist__clock {
    width: 75px;
    height: 75px;
    padding: 20px;
  }

  .pricelist__discount-text {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 45px 70px;
  }

}

@media (min-width: $desktop-width) {
  .pricelist {
    width: 1200px;
    padding-bottom: 50px;
  }
  .pricelist__wrapper {
    width: 968px;
  }
  .pricelist__title {
    font-size: 40px;
    padding-top: 85px;
    padding-bottom: 50px;
  }
  .pricelist__table {
    float: left;
    width: 630px;
  }
  .pricelist__discount {
    display: inline-block;
    width: 267px;
    height: 275px;
    margin: 0;
    margin-left: 65px;
  }
  .pricelist__clock {
    width: 140px;
    height: 140px;
    float: none;
    display: block;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .pricelist__discount-text {
    font-size: 20px;
    line-height: 27px;
    text-transform: none;
    font-weight: normal;
    text-align: center;
    padding: 0 50px;
  }
}
