@media (min-width: $tablet-width) {
  .site-list {
    width: 570px;
  }
}

  @media (min-width: $tablet-width) {
  .user-list {
    width: 60px;
  }
}

  @media (min-width: $desktop-width) {
  .site-list {
    width: 780px;
  }
}
